* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-onback: hwb(280 0% 94%);
  --color-ontext: hwb(274 95% 0%);
  --color-onborder: hwb(235 33% 8%);
  --color-onborder-shadow: hwb(235 17% 46%);
}

#none {
  display: none;
}

.none {
  display: none;
}

body {
  background-color: var(--color-onback);
  font-family: "Roboto Mono", monospace;
  padding: 32px;
}

/* nav section */

i {
  padding-right: 16px;
}

i,
h2 {
  color: var(--color-ontext);
}

a {
  text-decoration: none;
  color: var(--color-ontext);
  padding: 8px 16px;
}

a:hover {
  background-color: var(--color-onborder);
  border-radius: 16px;
}

ul li {
  list-style: none;
  padding-right: 24px;
}

ul {
  display: flex;
}

section {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 24px;
  left: -24px;
  background-color: var(--color-onborder);
  min-width: 160px;
  z-index: 1;
  border-radius: 16px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--color-ontext);
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  border-radius: 16px;
  text-align: center;
  position: relative;
}

.dropdown-content a img {
  position: absolute;
  bottom: -30px; /* Distanza dal fondo del link */
  right: -30px; /* Distanza da destra */
  width: 80px; /* Dimensione dell'immagine */
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--color-ontext);
  color: var(--color-onback);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

nav > button {
  background-color: var(--color-onback);
  color: var(--color-ontext);
  padding: 8px 24px;
  border-radius: 16px;
  border: var(--color-ontext) 1.5px solid;
  font-size: 1rem;
}

button:hover {
  background-color: var(--color-onborder);
  color: var(--color-ontext);
  cursor: pointer;
}

.dropdown-click-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: var(--color-ontext);
  color: var(--color-onborder);
  padding-top: 20px;
  z-index: 999;
  transition: transform 0.3s ease;
  transform: translateX(-100%); /* Nascondi inizialmente il menu */
  border-radius: 0 16px 16px 0;
}

.dropdown-click-menu.show {
  transform: translateX(0); /* Mostra il menu a sinistra */
}

.link-dropdown-style {
  color: var(--color-onborder);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.2rem;
}

.link-dropdown-style li a {
  color: var(--color-onborder);
  border-radius: 16px;
  border: solid 1.5px var(--color-onborder);
  padding: 8px 24px;
  width: 200px;
  display: inline-block;
}

.link-dropdown-style li a:hover {
  color: var(--color-ontext);
  background-color: var(--color-onborder);
}

/* Posizionamento e stile dei bottoni */
.dropdown-click-menu .buttons {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px); /* Per tenere i bottoni lontani dai bordi */
}

.dropdown-click-menu .buttons button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px 24px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 16px;
  border-style: none;
}

#opn {
  border: var(--color-onborder) 1.5px solid;
  background-color: var(--color-ontext);
  color: var(--color-onborder);
}

#opn:hover {
  background-color: var(--color-onborder);
  color: var(--color-ontext);
}

#dwl {
  background-color: var(--color-onborder);
  color: var(--color-ontext);
  border: solid 1.5px var(--color-onborder);
}

#dwl:hover {
  background-color: var(--color-onborder-shadow);
}

.dropdown-nav {
  display: flex;
  justify-content: space-around;
  padding: 16px 0;
  font-size: 1.2rem;
  color: var(--color-onborder);
}
.dropdown-nav i {
  display: flex;
  justify-content: space-around;
  padding: 16px 0;
  font-size: 1.5rem;
  color: var(--color-onborder);
}

/* header section */
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 5rem;
}

header .text-hero {
  color: var(--color-ontext);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.text-hero h1 {
  font-size: 6rem;
}

.text-hero p {
  font-size: 2rem;
}


header img {
  width: 100%;
}













@media screen and (max-width: 1450px) {
  nav button span {
    display: none;
  }

  #none {
    display: block;
    padding: 0;
  }

}

@media screen and (max-width: 1350px) {
  ul {
    display: none;
  }

  .none {
    display: block;
  }

  h2 {
    display: none;
  }

  header {
    grid-template-columns: 1fr;
    padding-top: 2rem;
  }

  header img {
    width: 75%;
    order: -1;
    margin: 0 auto;
  }

  .text-hero h1 {
    font-size: 3rem;
  }

  .text-hero p {
    font-size: 1rem;
  }
}
