* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-onback: hwb(280 0% 94%);
    --color-ontext: hwb(274 95% 0%);
}

.none {
    display: none;
}

body {
    background-color: var(--color-onback);
    font-family: "Roboto Mono", monospace;
    padding: 16px;
}

i {
    padding-right: 16px;
}

i,
h2 {
    color: var(--color-ontext);
}

a {
    text-decoration: none;
    color: var(--color-ontext);
}

ul li {
    list-style: none;
    padding-right: 24px;
}

ul {
    display: flex;
}

section {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 1200px) {
    ul {
        display: none;
    }

    .none {
        display: block;
    }

    h2 {
        display: none;
    }
}